{% macro render_field(field, **kwargs) -%}
  <div class="mb-2">
    <label class="form-label">{{ field.label.text }}</label>
    {{ field(class="form-control", **kwargs) }}
    {% if field.errors %}
      <div class="text-danger small">{{ field.errors[0] }}</div>
    {% endif %}
  </div>
{%- endmacro %}

{% macro render_check(field) -%}
  <div class="form-check">
    {{ field(class="form-check-input") }}
    <label class="form-check-label">{{ field.label.text }}</label>
    {% if field.errors %}
      <div class="text-danger small">{{ field.errors[0] }}</div>
    {% endif %}
  </div>
{%- endmacro %}
